.text-input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  border: none;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 1;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  border: none;
  background-color: #2b2320;
  letter-spacing: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 15px;
  height: 31px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.text-input::-webkit-input-placeholder {
  color: #999;
}
.text-input::-moz-placeholder {
  color: #999;
}
.text-input::-ms-input-placeholder {
  color: #999;
}
.text-input:-ms-input-placeholder {
  color: #999;
}
.text-input:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  border: none;
  background-color: #2b2320;
}
.text-input:disabled::-webkit-input-placeholder {
  border: none;
  background-color: #2b2320;
  color: #999;
}
.text-input:disabled::-moz-placeholder {
  border: none;
  background-color: #2b2320;
  color: #999;
}
.text-input:disabled::-ms-input-placeholder {
  border: none;
  background-color: #2b2320;
  color: #999;
}
.text-input:disabled:-ms-input-placeholder {
  border: none;
  background-color: #2b2320;
  color: #999;
}
.text-input::-ms-clear {
  display: none;
}
.text-input:invalid {
  border: none;
  background-color: #2b2320;
  color: #fff;
}
